apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-demo-deployment-test
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-demo-deployment-test
  template:
    metadata:
      labels:
        app: jenkins-demo-deployment-test
    spec:
      containers:
      - name: jenkins-demo-deployment-test-container
        image: swr.ap-southeast-2.myhuaweicloud.com/han-test/jenkins-demo:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 1323
        resources:
          limits:
            cpu: "100m"
            memory: "200Mi"
          requests:
            cpu: "100m"
            memory: "200Mi"
      imagePullSecrets:
      - name: default-secret